.error-alert-container {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #ffcccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ff5252;
  }
  
  .error-alert-icon {
    margin-right: 12px;
  }
  
  .error-alert-message {
    font-size: 16px;
    font-weight: bold;
  }
  
  .error-alert-icon .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #ff5252;
    border-radius: 50%;
    background-color: #ffcccc;
    position: relative;
    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  
  .close-button {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background: none;
    font-size: 20px;
    color: #ff5252;
    cursor: pointer;
    padding: 0;
  }
  
  .close-button span {
    display: inline-block;
    line-height: 1;
    padding: 2px;
  }
  


  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  