.flat-list-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .item-container {
    display: flex;
  }
  

  
  .icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: #ccc;
  }
  
  .item {
    position: relative; /* Add position: relative */
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363535;
    border-radius: 4px;
    overflow: hidden; /* Add overflow: hidden */
  }
  
  .item img {
    position: absolute; /* Add position: absolute */
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    object-fit: cover; /* Use object-fit: cover */
  }

