.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 999;
  }

  .popup-box-wrap{
    background:-webkit-linear-gradient(left top, rgba(18, 228, 90, 1) 0%, rgba(42, 174, 192, 1) 100%);
    width: 700px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .popup-box {
    background-color: rgba(18, 18, 18, 1);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 695px;
    height: 435px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  .popup-box h2 {
    margin: 0;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .file-upload-label {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 300px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #333333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  .upload_wrap{
    width: 175px;
    height: 175px;
    border-radius: 10px;
  }

  .upload_container2 {
    width: 90%;
  }

  .song_name_in{
    width: 85%;
  }

  @media only screen and (max-width: 720px) {
    .popup-box-wrap{
      width: 660px;
      height: 440px;
    }
    .popup-box {
      width: 655px;
      height: 435px;
    }

    .upload_container2 {
      width: 95%;
    }

    .song_name_in{
      width: 90%;
    }
  }

  @media only screen and (max-width: 680px) {
    .popup-box-wrap{
      width: 600px;
      height: 440px;
    }
    .popup-box {
      width: 595px;
      height: 435px;
    }

    .upload_container2 {
      width: 100%;
    }

    .song_name_in{
      width: 100%;
    }

    .up_song {
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .upload_container{
      display: flex;
      flex-direction: column;
    }
    .upload_wrap {
      width: 360px;
      height: 120px;
    }

    .popup-box-wrap{
      width: 400px;
      height: 720px;
    }
    .popup-box {
      width: 395px;
      height: 715px;
    }

    .song_name_in{
      width: 340px;
    }

    .lst_cont{
      display: flex;
      flex-direction: column;
    }

    .up_song{
      width: 100%;
    }
  }



  @media only screen and (max-width: 400px) {
    .popup-box-wrap{
      width: 360px;
      height: 720px;
     
    }
    .popup-box {
      width: 355px;
      height: 715px;
     
    }
    .upload_wrap{
      width: 340px;
      height: 120px;
    }

    .song_name_in{
      width: 340px;
    }
  }
  

  @media only screen and (max-width: 376px) {
    .popup-box-wrap{
      width: 340px;
      height: 660px;
    }
    .popup-box {
      width: 335px;
      height: 655px;
     
    }
    .upload_wrap{
      width: 260px;
      height: 110px;
    }

    .up_song{
      width: 260px;
      height: 50px;
    }

    .song_name_in{
      width: 320px;
    }

    .add_btn{
      height: 30px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  